.header {
   background-image: url("/images/mobile/image-header.jpg");
   width: 100%;
   height: 33.625em;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 2.1875em 1.4375em 0 1.4375em;

   @include point-up(medium) {
      background-image: url("/images/desktop/image-header.jpg");
      height: 50em;
      padding: 3.3125em 2.5em 0 2.5em;
   }

   .hamburger {
      @include point-up(large) {
         display: none;
      }
   }

   &_text {
      font-size: 1.8125rem;
      margin-top: 100px;
      text-align: center;

      @include point-up(large) {
         font-size: 2.5rem;
         margin-top: 120px;
         margin-bottom: 0;
      }
   }

   .arrow {
      position: absolute;
      top: 18em;
      left: 50%;
      transform: translateX(-50%);

      @include point-up(large) {
         top: 22em;
      }
   }

   &_links {
      font-size: 0;

      a:not(:last-child) {
         margin-right: 50px;
         color: $white;
         font-size: 15px;
         transition: color 150ms ease-in-out;

         &:hover{
            color: $veryDarkdesaturatedBlue;
         }
      }

      a:last-child {
         color: $veryDarkdesaturatedBlue;
         text-transform: uppercase;
         background-color: $white;
         border-radius: 50px;
         font-family: "Fraunces", serif;
         padding: 1.25em 2.1875em;
         font-size: 15px;
         transition: all 150ms ease-in-out;

         &:hover{
            color: $white;
            background-color: #6fcfff;
         }
      }

      @include point-down(medium) {
         display: none;
      }
   }

   &_menu {
      z-index: 1;
      position: absolute;
      width: calc(100% - 3rem);
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1.5em;
      padding: 2.875em;
      background-color: $white;
      clip-path: polygon(94% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
      font-weight: 600;

      a {
         text-align: center;
         color: $veryDarkGrayishBlue;
         transition: color 150ms ease-in-out;

         &:hover{
            color: $yellow
         }

         &:not(:last-child) {
            padding: 1em;
         }
      }

      .open {
         display: block;
      }

      @include point-up(large) {
         display: none;
      }
   }
   .contact {
      text-transform: uppercase;
      margin-top: 1.25em;
      padding: 1.25em 1.875em;
      background-color: $yellow;
      border-radius: 50px;
      font-family: "Fraunces", serif;
      font-size: 1rem;
      color: $veryDarkdesaturatedBlue;
      font-weight: 700;
      transition: all 150ms ease-in-out;

      &:hover{
         color: $veryDarkdesaturatedBlue;
         background-color: $white;
         border: 2px solid $yellow;
      }
   }
}
